@import "~bootstrap/scss/bootstrap";

nav {
  min-height: 70px;
}

.login-form {
  min-width: 450px;
  text-align: right;

  li {
    text-align: right;
    width: 100%;
  }
}

.page-container {
  margin-top: 20px;

  h2 {
    margin-bottom: 20px;
  }
}
